.allProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #666;
    margin-bottom: 8px;
}

.allProducts-info {
    box-sizing: border-box;
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.allProducts-info:hover {
    transform: scale(1.05);
}

.allProducts-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.allProducts-info p {
    color: #666;
}

.allProducts-info h2 {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}
.allProducts-info h3 {
    display: block;
    color: #333;
}

.allProducts-info a {
    background: #ff7200;
    text-decoration: none;
    font-weight: bold;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    padding: 3px 3px 3px 3px;
    margin-top: 30px;
}
