.contact-container {
  background: linear-gradient(
    to top,
    rgba(102, 102, 102, 0.8) 50%,
    rgba(102, 102, 102, 0.8) 50%
  );
  overflow: hidden;
  height: 710px;
  padding-bottom: 72px;
  display: flex;
}

.left-container {
  width: 800px;
  margin-right: 20px;
  margin-left: 300px;
}

.right-container {
  width: 500px;
}

.right-container h1 {
  font-family: Arial;
  color: #fff;
  font-weight: 200;
  margin-top: 20px;
}

.right-container h2 {
  margin-top: 24px;
  font-family: Arial;
  color: #fff;
  font-weight: 200;
}

.contact-form {
  width: 700px;
  height: 480px;
  position: absolute;
  float: left;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
  margin-top: 26px;
}

.contact-form label {
  font-size: 20px;
  color: #fff;
  font-family: Arial;
}

.contact-form input {
  width: 200px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-left: 10px;
  font-family: sans-serif;
}
.contact-form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btnn {
  width: 260px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
  margin-left: 0px;
}

.btnn:hover {
  background: #fff;
  color: #ff7200;
}

.btnn a {
  text-decoration: none;
  color: #ff7200;
  font-weight: bold;
}

#fname {
  padding-bottom: 1px;
  width: 200px;
}

.fname {
  padding-top: 20px;
}

#lname {
  padding-bottom: 1px;
  padding-right: 45px;
}

.lname {
  margin-left: 20px;
}

.number {
  margin-top: 100px;
  margin-left: 20px;
}

.email {
  margin-bottom: 20px;
}

.subject {
  margin-top: 30px;
  float: left;
}

#subject {
  margin-top: 10px;
  width: 700px;
  height: 250px;
}

.iframe {
  margin-top: 14px;
}
