#product-details {
    background: linear-gradient(to top, rgba(102, 102, 102, 0.8)50%, rgba(102, 102, 102, 0.8)50%);
    overflow: hidden;
    padding-bottom: 22px;
    height: auto;
    width: 66%;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    margin-left: 17%;
}

#product-details>h1 {
    width: 400px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 34px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
}

.info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}

.product-header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.product-header h1 {
    color: white;
    margin-top: 5px;
    font-size: 36px;
    font-weight: 400;
}

.product-header>h4 {
    color: #fff;
    font-size: 23px;
    font-weight: 400;
}

.material {
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    background-color: #ff7200;
}

.type {
    display: inline-block;
    color: white;
    font-size: 19px;
    margin-left: 10px;
}

.product-img {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 22px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.info-section>.text {
    padding: 30px;
    height: 50%;
}

.game-summary {
    margin-top: 15px;
    padding: 60px;
    height: 50%;
}

.text {
    font-size: 25px;
    color: white;
}

.movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.movie_social {
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
}

.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
}

.button {
    height: 15%;
    background: #ff7200;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease;
    margin-left: 20px;
}

.button:hover {
    background-color: white;
    color: #ff7200;
}

/* Comments CSS */
.details-comments {
    width: 100%;
    display: table-cell;
    color: #fff;
}

.details-comments h2{
    text-align: center;
    margin-top: 15px;
}

.details-comments li {
    width: 250px;
    display: inline-block;
    position: static;
    margin: 20px 18px 0px 18px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    background: #fa7d09;
    color: white;
}

.details-comments ul {
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment p {
    padding: 16px;
}

.no-comment p {
    padding: 16px;
    color: white;
}


