#about-page {
    background: linear-gradient(to top, rgba(102, 102, 102, 0.8)50%, rgba(102, 102, 102, 0.8)50%);
    overflow: hidden;
    padding-bottom: 72px;
    height: auto;
    width: 100%;
    /* text-align: center; */
    display: block;
    /* justify-content: space-around; */
}

.about-container {
    margin: auto;
    width: 40%;
}

.about-head h1 {
    font-family: "Agency FB";
    text-transform: uppercase;
    background: linear-gradient(to top, rgba(102, 102, 102, 0.8)50%, rgba(102, 102, 102, 0.8)50%);
    text-align: center;
    display: block;
    font-weight: bold;
    color: black;
    font-size: xxx-large;
}

.about-content h2 {
    font-size: 26px;
    color: black;
    margin-top: 22px;
}

.about-content p {
    font-size: 20px;
    color: black;
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
}

.contact-page {
    color: rgb(104, 0, 201);
}