.header-area {
    background: url('../images/slider-bg.jpg') no-repeat center center / cover;
	padding: 175px 0;
	
}

.header-area .menu-area {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 40px;
}

.header-area .menu-area ul {
	margin: 0;
	padding: 0;
}

.header-area .menu-area nav > ul > li {
    float: left;
    margin-left: 3px;
    list-style: none;
}

.header-area .menu-area nav {
    background: #00000026;
    padding: 16px;
    border-radius: 7px;
}

.header-area .menu-area nav > ul > li > a {
    color: #FFF;
    text-decoration: none;
    padding: 16px 39px;
	transition: all .6s;
}

.header-area .menu-area nav > ul > li > a:hover {
	font-weight: bold;
    color: #e2b17b;
    background: #54586352;
	border-bottom: 2px solid #e2b17b;
}

.header-area .menu-area ul ul {
    position: absolute;
    top: 104%;
    background: #33035147;
	display: none;
}

.header-area .menu-area ul :hover ul{
	display: block;
}


.header-area .menu-area nav ul ul li {
    list-style: none;
}

.header-area .menu-area nav ul ul li a {
    text-decoration: none;
    width: 180px;
    display: block;
    font-size: 20px;
    padding: 9px 35px;
    font-weight: normal;
    color: #fff;
	transition: all .6s;
}

.header-area .menu-area nav ul ul li a:hover {
	color: #27c4f4;
	background: #6a789d52;
}


.header-area .menu-area nav > ul:after {
	content:'';
	display: inline-block;
	clear: both;
}

.header-area .header-content h1{
    color: #FFF;
    font-size: 100px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}

.header-area .header-content {
	text-align: center;
	padding-top: 120px;
}

.header-area .header-content p{
    font-style: italic;
    color: #d0e7e9;
    font-size: 17px;
    font-weight: 300;
	margin: 0;
}