*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("../images/slider-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 93vh;
}

.main{
    background: url('../images/slider-bg.jpg') no-repeat center center / cover;
}

.navbar{
    width: 100rem;
    height: 4.6875rem;
    margin: auto;
}

.icon{
    width: 12.5rem;
    float: left;
    height: 4.375rem;
}

.logo-name{
    color: #fa7d09;
    font-size: 30px;
    font-family: Arial;
    float: left;
    padding-top: 17px;
    margin-top: 5px
}

.menu{
    width: 62.5rem;
    float: left;
    height: 4.375rem;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 30px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li span{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #fa7d09;
    font-weight: bold;
    background: #54586352;
	border-bottom: 2px solid #e2b17b;
}

.search{
    width: 330px;
    float: right;
    padding-top: 8px;
}

.srch{
    font-family: 'Times New Roman';
    width: 12.5rem;
    height: 2.5rem;
    background: transparent;
    border: 1px solid #fa7d09;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 0.625rem;
    border-bottom-left-radius: 0.3125rem;
    border-top-left-radius: 0.3125rem;
}

.btn{
    width: 100px;
    height: 40px;
    background: #fa7d09;
    border: 2px solid #fa7d09;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #fa7d09;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #fa7d09;
}

