.form-register{
    width: 260px;
    height: 580px;
    background: linear-gradient(to top, rgba(102, 102, 102, 0.8)50%, rgba(102, 102, 102, 0.8)50%);
    position: absolute;
    left: 44%;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    margin-top: 3.3%;
}

.form-register h2{
    width: 240px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form-register input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form-register input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.form-register-btnn{
    width: 260px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    margin-left: 0px;
}

.form-register-btnn:hover{
    background: #fff;
    color: #ff7200;
}
.form-register-btnn a{
    text-decoration: none;
    color: #ff7200;
    font-weight: bold;
}
.form-register .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    padding-right: 5px;
    text-align: center;
    color:#fff;
}
.form-register .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}